<html>
	<head>
		<title>Panic!</title>
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
		<script defer src="/assets/kaja-twirp.js"></script>
		<script defer src="/assets/prism.js"></script>
		<link href="/assets/primer.css" rel="stylesheet" />
		<link href="/assets/kaja-twirp.css" rel="stylesheet" />
	</head>
	<body data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">
        <div class="blankslate">
            <h3 class="blankslate-heading">Something went wrong when parsing your protofiles 😥</h3>
            <pre>{{ .text }}</pre>
        </div>
    </body>
</html>